.username-gradient {
    background: linear-gradient(45deg, #ff3366, #ff33ee);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.container-with-scrollbar {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #6b6091 transparent;

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #6b6091;
        border-radius: 6px;
        background-image: linear-gradient(to bottom, #6b6091, transparent);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #574b7d;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideDown2 {
    0% {
        opacity: 0;
        transform: translateY(-5%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}